.Intro-Text {
  color: white;
  font-size: 25px;
  border:#224559 2px solid;
  background-color: #304e5e;
  padding:5px;
  font-family: "SM Sans", sans-serif;
  font-weight: 50;
  text-transform: uppercase;      
  letter-spacing: 1px;   
  word-spacing: 4px;;
}   

.Dino-Grid {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px 350px 350px 350px; 
  grid-template-rows: 390px 390px 390px 390px 390px 390px 390px;
  gap: 5px;
  justify-content: left;
  margin-left: 5px;
}

.Dino-Card {
  background-color: #224559;
  color: white;
  font-size: 18px;
  font-family: "SM Sans", sans-serif;
  letter-spacing: 1px;
  padding-left: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.Dino-Card:hover {
  background-color: #4f92ae;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
} 
.Dino-Image {
  width: 300px;
  height: 300px;
  padding-right: 1px;
  object-fit: contain; 
}

.Dino-Diet{
    position: relative;
    width: 30px;         /* size of the image */
    height: 30px;
    margin-left: 300px;  /* margin-left or right,top,bottom etc moves the image within the container within those directions */
    margin-top: -3px;   /* left,right,top,bottom etc moves the image within the container the same way */
    margin-bottom: 5px;
}

/* start of dino card info section */
.Dino-Card-Info {
  display: none; /* flex */ 
  justify-content: flex-start;
  width: 1700px;
  max-height: 2000px;
  color: white;
  font-size: 18px;
  font-family: "SM Sans", sans-serif;
}

.Dino-Image-Large {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    height: 1000px;
}

.Dino-Name{
   border:#224559 2px solid;
   background-color: #304e5e;
   padding: 5px;
   margin: 0px;
   font-family: "SM Sans", sans-serif;
   text-transform: uppercase;
   font-size: 29px;
   letter-spacing: 2px;
   padding: 14px;
}

.Dino-Stats{
   border:#224559 2px solid;
   background-color: #224559;
   padding: 5px;
   text-transform: uppercase;
   font-size: 22px;
   margin: 0px;
   font-family: "SM Sans", sans-serif;
}
.Dino-Info{
    display: flex;
    justify-content: space-between;
    border: #224559, 2px solid;
    background-color: #304e5e;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px;
    margin: 1px;
    font-family: "SM Sans", sans-serif;
}
   
.title{
   border:#224559 2px solid;
   padding: 5px;
   font-size: 22px;
   font-weight: bold;
   text-transform: uppercase;
   background-color: #224559;
   margin: 0px;
   font-family: "SM Sans", sans-serif;
}

.text{
    border:#224559 2px solid;
    background-color: #304e5e;
    padding: 6px;
    margin: 0px;
    font-family: "SM Sans", sans-serif;
}


